@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  padding: 0 4%;
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

.gallery-container {
  border: 1px solid blue;
  gap: 4px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imagecard {
  height: 150px;
}

.imagecard img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
