@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.gallery-container {
  margin: 4%;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.imagecard {
  height: 150px;
}

.imagecard img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
