@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  padding: 0 4%;
  display: flex;
  justify-content: center;
}

.gallery-container {
  gap: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imagecard {
  flex-grow: 1;
  overflow: hidden;
}

.imagecard img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}
